<h2>{{ title }}</h2>
<h3>Por favor compartir localización, puede mover el personaje.</h3>
<h4>Travel mode:{{travelMode}}</h4>
<button type="button" (click)="caminar()">Caminando</button>
<button type="button" (click)="conducir()">Conducir</button>
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
  
  <agm-direction [origin]="origin" [destination]="destination" [renderOptions]="renderOptions" 
  [markerOptions]="markerOptions" [travelMode]="travelMode" [infoWindow]="infoWindow">
  </agm-direction>

  <!--
  <agm-marker 
    [latitude]="lat" 
    [longitude]="lng"
    [markerDraggable]="true"
    (dragEnd)="markerDragEnd(m, $event)"></agm-marker>
  -->
  <!--
  <agm-circle 
    [latitude]="lat" 
    [longitude]="lng" 
    [radius]="1000"
    [fillColor]="'blue'"
    [circleDraggable]="false"
    [editable]="false">
  </agm-circle>
  -->

</agm-map>